<link rel="stylesheet" href="gooey-menu.css">

<div class="main-view-container">

    <div class="menu">
        <div class="menu-wrapper">

            <ul class="list_menu-items">

                <li class="list-item_menu">
                    <button class="button_menu-item__option">
                        <i class="ic_menu-item ic icon-info"></i>
                    </button>
                    <div class="button_menu-item__bounce"></div>
                </li>

                <li class="list-item_menu">
                    <button class="button_menu-item__option">
                        <i class="ic_menu-item ic icon-flag"></i>
                    </button>
                    <div class="button_menu-item__bounce"></div>
                </li>

                <li class="list-item_menu">
                    <button class="button_menu-item__option">
                        <i class="ic_menu-item ic icon-archive"></i>
                    </button>
                    <div class="button_menu-item__bounce"></div>
                </li>

                <li class="list-item_menu">
                    <button class="button_menu-item__option">
                        <i class="ic_menu-item ic icon-trash"></i>
                    </button>
                    <div class="button_menu-item__bounce"></div>
                </li>

            </ul>

            <button class="button_menu-item__toggle">
                <i class="ic ic_menu-toggle icon-plus"></i>
            </button>

        </div>
    </div>


</div>

<!-- Vendor files -->
<script src="../../vendor/gsap/src/minified/TweenMax.min.js"></script>

<!-- Plugins and utils -->
<script src="../../js/lib/base-plugins.js"></script>
<script src="../../js/lib/css-plugins.js"></script>

<!-- App files -->
<script src="gooey-menu.js"></script>
