$theme-color-primary__main: hsla(120, 1%, 36%, 0.1);
$theme-color-accent__main: hsla(157, 81%, 46%, 1);

$button-height: 3.8em;
$button-width: 3.8em;

$button-box-shadow: 0 0.5em 0.25em hsla(0, 0%, 0%, 0.19);
