<link rel="stylesheet" href="gooey-share.css">

<div class="main-view-container">

    <section class="content-container__share">

        <div class="button-set-wrapper">
            <div class="button-set-container">
                <button class="button_share__toggle">
                    <i class="ic icon-share"></i>
                </button>
            </div>
        </div>

    </section>

</div>

<!-- Vendor files -->
<script src="../../vendor/gsap/src/minified/TweenMax.min.js"></script>

<!-- Plugins and utils -->
<script src="../../js/lib/base-plugins.js"></script>
<script src="../../js/lib/css-plugins.js"></script>

<!-- App files -->
<script src="gooey-share.js"></script>
