@charset "UTF-8";

@font-face {
  font-family: "gooey-animations";
  src:url("/fonts/fontastic/gooey-animations.eot");
  src:url("/fonts/fontastic/gooey-animations.eot?#iefix") format("embedded-opentype"),
    url("/fonts/fontastic/gooey-animations.woff") format("woff"),
    url("/fonts/fontastic/gooey-animations.ttf") format("truetype"),
    url("/fonts/fontastic/gooey-animations.svg#gooey-animations") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gooey-animations" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gooey-animations" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-triangle:before {
  content: "a";
}
.icon-archive:before {
  content: "c";
}
.icon-info:before {
  content: "d";
}
.icon-flag:before {
  content: "b";
}
.icon-x:before {
  content: "e";
}
.icon-trash:before {
  content: "f";
}
.icon-plus:before {
  content: "g";
}
.icon-camera:before {
  content: "h";
}
.icon-send-plane:before {
  content: "i";
}
.icon-social-twitter:before {
  content: "j";
}
.icon-social-github:before {
  content: "k";
}
.icon-social-gplus:before {
  content: "l";
}
.icon-social-linkedin:before {
  content: "m";
}
.icon-share:before {
  content: "n";
}
