@import '../../styles/application';
@import 'base-variables';
@import 'placeholders';






.phone-wrapper {
    width: $phone-width__default;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    border-style: solid;
    border-color: $phone-frame-color;
    border-width: 60px 15px;
    color: darken($phone-frame-color, 20%);
    border-radius: 20px;
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



.message-list-container {
    width: 100%;
    height: $phone-height__default * 0.89;
    position: relative;
    background-color: $background-color_chat-window;
    border-radius: 2px 2px 0 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.message-list {

    list-style-type: none;
    margin: 0;
    //width: 100%;
    padding-top: $message-list-padding_top;
    padding-right: $message-list-padding_side;
    padding-left: $message-list-padding_side;
    padding-bottom: $message-list-padding_bottom;
}


.section__message-input {
    position: relative;
    background-color: $background-color_message-input;
}


.message-info-container {
    position: absolute;
    top: -20px;
    font-size: 12px;
    color: $font-color_message-input;
}

.message-effect-wrapper {
    position: absolute;
    top: -100px;
    width: 100%;

    .message-effect-container {
        padding-right: $message-list-padding_side;
        padding-left: $message-list-padding_side;
    }
}

.message-input-container {
    width: 100%;
    height: $message-input-container-height;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 16px;
    z-index: 2;
    padding: 0.5em 0;
    border-radius: 0 0 .125em .125em;

    i {
        font-size: 3em;
    }

}

.input-option {
    height: 100%;
    background-color: transparent;
    transition: color 0.6s;
    border: none;
    color: $font-color_message-input;

    &.button {
        cursor: pointer;
        padding: 0 0.75em;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &.text {
        outline: none;
        resize: none;
        overflow: hidden;
        min-height: 40px;
        flex: 1 1 0%;
        font-size: 0.875em;
        padding-top: calc(#{$message-input-container-height/2} - 0.5em);
        cursor: text;
    }
    &.text:empty::before {
        content: 'Write message';
    }
}


.input-option.text:not(:empty) + .send {
    color: hsla(0, 100%, 100%, 1.0);
}





[class^="message-item"] {

    position: relative;
    font-size: 0;
    margin-bottom: 10px;

    &[class$="__received"] {

        text-align: left;
        .chat-message-bubble {
            background-color: $background-color_chat-message__received;
        }
    }

    &[class$="sent"] {
        text-align: right;
        .chat-message-bubble {
            text-align: left;
            background-color: $background-color_chat-message__sent;
        }
    }
}

.chat-message-bubble {
    @extend %chat-message-bubble;
}





