<link rel="stylesheet" href="gooey-chat-stream.css">

<div class="main-view-container">


    <section class="page-section_main-content">

        <div class="phone-wrapper">

            <div class="message-list-container">
                <ol class="message-list">
                    <li class="message-item_received">
                        <div class="item-text-container"></div>
                    </li>
                </ol>
            </div>


            <section class="section__message-input">

                <div class="message-info-container"></div>

                <div class="message-effect-wrapper">
                    <div class="message-effect-container"></div>
                </div>

                <div class="message-input-container">

                    <button class="button input-option">
                        <i class="ic icon-camera"></i>
                    </button>

                    <div class="input-option text" contenteditable="true"></div>

                    <button class="button input-option send">
                        <i class="ic icon-send-plane"></i>
                    </button>

                </div>

            </section>

        </div>

    </section>

</div>

<!-- Vendor files -->
<script src="../../vendor/gsap/src/minified/TweenMax.min.js"></script>

<!-- Plugins and utils -->
<script src="../../js/lib/base-plugins.js"></script>
<script src="../../js/lib/css-plugins.js"></script>

<!-- App files -->
<script src="gooey-chat-stream.js"></script>
